.chat
  .main-header
    .main-header__name
      %h2.main-header__name__group
        = @group.name
      %ul.main-header__name__member
        Member :&nbsp;
        %li.main-header__name__member-list
          - @group.users.each do |user|
            = user.name
    .main-header__btn
      =link_to edit_group_path(current_user), class: "edit-btn" do
        Edit
  .message-list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new__message
        .type-box
          = f.text_field :content, class: "type-box__text", placeholder: "type a message"
          = f.label :image, class: "type-box__image" do
            =icon('fas', "image")
            = f.file_field :image, class: "type-box__image__file"
        = f.submit 'Send', class: "submit-btn"